.productsList {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4bcbcb;
    padding: 10px;
    border: 2px solid rgb(69, 172, 69);
  }
  
  .productsList_list { 
    width: 100%;
    height: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .productsList_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(65, 131, 65);
    border-radius: 2px;
    padding: 0;
    margin: 10px 0;
  }
  
  .productsList_item img {
    width: 20%;
    height: 20%;
  }
  
  .productsList_item h2 {
    margin: 10px 0;
    text-transform: uppercase;
    color: #3a2222;
  }
  
  .productsList_item p {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2dbaba;
    margin: 5px 0;
  }