.productCards {
    width: 71%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .productCards h1 {
    text-transform: uppercase;
    margin: 0;
  }
  
  .productCards__list {
    width: 100%;
    padding: 10px;
  }
  
  .productCards__list_item {
    width: 100%;
    height: 7em;
    list-style: none;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0 ;
    justify-content: space-around;
    padding: 0;
  }
  
  .productCards__list_item img {
    width: 100px;
    height: 100px;
  }