 .modal {
  //  display: none;
  background-color: red;
  position: fixed;
  top: 20%;
  left: 24%;
  width: 50%;
  height: 60%;
  background-color: rgba(192, 52, 52, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 90%;
 }

 .modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16%;
  background-color: #333;
  text-align: center;
  opacity: 80%;
 }

.modal__headerText {
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  margin-left: 20px;
}

.modal__CloseButton {
  width: 10%;
  height: 100%;
  position: relative;
}

.modal__CloseButton::before, .modal__CloseButton::after {
  content: "";
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: translate(-50%, -50%);
}

.modal__CloseButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__CloseButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__CloseButton:hover {
  transition: .3s;
  background-color: #3a3636;
  cursor: pointer;
}

.modal__text {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 57%;
  border-bottom: 8px groove #333;
}

.modal__buttons {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.modal__buttonClose {
  font-size: 20px;
}
