.header {
    // width: 100%;
    background-color: #333; 
    color: #fff;  
    padding: 20px;  
    text-align: center;  
    opacity: 60%;
}

.header:hover {
    opacity: 90%;
    transition: .5s;
}