body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.App {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto 1fr;
}

.favorite-button {
  filter: hue-rotate(90deg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.favorite-button.active {
  filter: hue-rotate(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 0; 
}